body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  /* margin: auto;
  max-width: 38rem;
  padding: 2rem; */
}

.nav-selected {
  background-color: brown;
}

body {
  -webkit-user-select: none;
  /* -webkit-app-region: drag; */
}